body {
  font-family: "Roboto Condensed";
  padding: 0;
  margin: 0;
}

table th {
  width: 200px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

td {
  text-align: center;
}

table {
  margin-bottom: 20px;
}
.btn {
  border-radius: 6%;
  margin: 20px;
}
